%tr
  %th= form.label :urlname
  %td= form.text_field :urlname, :class => 'text', :maxlength => 20
%tr
  %th= form.label :name
  %td= form.text_field :name, :class => 'text', :maxlength => 30
%tr
  %th= form.label :description
  %td= form.text_area :description, :class => 'text'
