= render :partial => 'subheader', :locals => {:current => :new}

.section
  .section-content
    = form_for @site do |f|
      - if !f.object.errors.blank?
        = render :partial => 'share/error_messages', :locals => {:object => f.object}
      %table.form-table
        = render :partial => 'form', :object => f
        %tr
          %th
          %td= f.submit t('.create'), :class => 'button'
