= render :partial => 'admin/nav'

#replies
  %table.data-table
    - @replies.each do |reply|
      %tr{:class => cycle("even", "odd")}
        %td= link_to truncate(reply.content), admin_reply_path(reply)
        %td= link_to reply.user.profile.name, admin_user_path(reply.user)
        %td.time= l reply.created_at, :format => :short
  = paginate_for @replies
